.form-control.is-valid,
.form-control.is-invalid {
  background-image: none;
  padding-right: 0.75em;
}

.form-control.is-valid,
.form-control.is-valid:focus {
  border-color: #ced4da;
}

.form-control.is-invalid,
.form-control.is-invalid:focus {
  border-color: #9b6667;
}

.invalid-feedback {
  color: #9b6667;
}