@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


/* General Styles */

body {
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 2em;
}

h4 {
  margin: 1.4em 0;
  color: #9b6667;
}

h5 {
  text-align: center;
  border-bottom: 0;
}

input:focus,
textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

/* Layout Styles */

.content {
  padding: 2em 1em;
}

/* Components Styles */

.form-control.is-valid,
.form-control.is-invalid {
  background-image: none;
  padding-right: 0.75em;
}

.form-control.is-valid,
.form-control.is-valid:focus {
  border-color: #ced4da;
}

.form-control.is-invalid,
.form-control.is-invalid:focus {
  border-color: #9b6667;
}

.invalid-feedback {
  color: #9b6667;
}


.encryption-grid {
  overflow-x: auto;
  padding-bottom: 2em;
}

.encryption-grid table {
  display: inline-block;
  margin: 0 auto;
  font-size: 1.2em;
}

.encryption-grid td {
  padding: 0.4em 0.6em 0.2em;
}

.encryption-grid .marked {
  border-bottom: 1px solid black;
}